extends layout.pug

block content
    h1 All courses
    a.btn.btn-primary(href="/courses/add") Create a new course
    table.table.table-striped
        thead
            tr
                th Course Id
                th Course
                th
                th
        tbody
            each course in courses
                tr
                    td= course.id
                    td= course.name
                    td(style="width: 50px;"): a(href="/courses/edit/" + course.id) 
                        span.glyphicon.glyphicon-pencil
                    td(style="width: 50px;"): a(href="/courses/delete/" + course.id) 
                        span.glyphicon.glyphicon-remove